:root{
    --custom-background-colour: pink;
}

.bg-primary {
    background-color: var(--custom-background-colour) !important;
}

.nav-link.active{
    background-color: var(--custom-background-colour) !important;
}

.btn-primary {
    background-color: var(--custom-background-colour) !important;
}

.dropdown-item:active {
    background-color: var(--custom-background-colour) !important;
}